@import "../../../styles/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.heading {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.type-h1 {
  font-size: var(--fonts-h1);
  color: var(--colors-green-dark);
}

.type-h2 {
  font-size: var(--fonts-h2);
  color: var(--colors-black-dark);
}

.type-h3 {
  font-size: var(--fonts-h2);
  color: var(--colors-green-dark);
  /*we need create another token*/
}
