@import "../../../styles/variables.css";

.card {
  padding: 2rem 2rem;
  border: var(--colors-grey-light) 1px solid;
  box-shadow: 0px 4px 5px var(--shadows-default);
  max-width: 200px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.type-rounded {
  border-radius: var(--border-radius-default);
}

.type-no-rounded {
  border-radius: 0px;
}
