@import "./variables.css";

nav {
  background-color: var(--colors-green-dark);
}

header {
  background-color: var(--colors-grey-light);
}

main {
  background-color: var(--colors-white-light);
}

h1 {
  font-size: var(--fonts-h1);
}

h2 {
  font-size: var(--fonts-h2);
}

p {
  font-size: var(--fonts-paragraph);
  color: var(--colors-black-dark);
}

footer {
  background-color: var(--colors-green-light);
}

h1 {
  color: var(--colors-green-dark);
}

h2 {
  color: var(--colors-black-dark);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--colors-white-light);
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
